/Application Data/
/Cookies/
/Documents/My Music/
/Documents/My Pictures/
/Documents/My Videos/
/Local Settings/
/My Documents/
/NetHood/
/PrintHood/
/Recent/
/SendTo/
/Start Menu/
/Templates/
.bash_history
.docker/
.gitconfig
.gradle/
.idlerc/
.j2e
.lesshst
.m2/
.viminfo
.vscode/
